@font-face {
  font-family: Inter-regular;
  src: local('Inter-regular'), url(./fonts/Inter/Inter-Regular.ttf) format('truetype');
}
body{
  overflow-x: hidden;
}
.nav-container{
  height: 100px;
  display: flex;
  width: 100%;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  z-index: 100;
}
.nav-link{
  text-decoration: none;
  color: #021148;
}

.nav-link-up{
  text-decoration: none;
  color: #FFFFFF;
}
.logo-wrap{
  width: 20%;
  display: flex;
  align-items: center;
}
.logo-wrap img{
  width: 100%;
  height: 60%;
}
.nav-menu{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
}

ul li{
  display: inline;
  margin-right: 50px;
  font-size: 16px;
  cursor: pointer;
  font-family: Inter-regular;
  font-weight: 600;
  color: #021148;
}
ul li:hover{
  color: #677091;
}
.nav-search{
  position: relative;
  display: flex;
  align-items: center;
}
.search-icon{
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 16px;
  left: 10px;
  color: grey;
}

.search-wrap{
  height: 40px;
  width: 250px;
}
.search-text{
  height: inherit;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  font-size: 16px;
  padding-left: 40px;
  padding-right: 10px;
}
.nav-buttons{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  font-size: 16px;
  cursor: pointer;
  font-family: Inter-regular;
  font-weight: 600;
  position: relative;
}
.sign-in{
  border: 2px solid #021148;
  width: 80px;
  height: 40%;
  margin-right: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #021148;
}
.sign-in:hover{
  color: #677091;
  border: 2px solid #677091;
}
.sign-up{
  border: 2px solid #021148;
  width: 100px;
  height: 40%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* background-color: #131D41; */
  background-color: #021148;
  color: #FFFFFF;
}
.mobile-nav{
  width: 50px;
  height: 40%;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #021148;
  display: none;
}
.sign-up:hover{
  background-color: #677091;
  border: 2px solid #677091;
}
input{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: 1px solid grey;
}
.m-nav-container{
  position: fixed;
  right: -100vh;
  width: 50%;
  top: 0;
  height: 100vh;
  margin-top: 100px;
  background: #021148;
  transition: right 1s;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 50px;
  display: none;
  z-index: 2;
}
.m-nav-wrap{
  width: 100%;
  height: inherit;
}
.m-list{
  height: 50vh;
  margin-top: 0px;
  color: #FFFFFF;
}
.ml-1{
  width: 100%;
  font-size: 18px;
  height: 200px;
  margin-top: 200px;
  font-family: Inter-regular;
  border: 2px solid #021148;
  margin-top: 10px;
}
#slide-in{
  right: 0;   
}

.mobile-nav-search{
  position: relative;
  display: flex;
  align-items: center;
}
.search-icon{
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 16px;
  left: 10px;
  color: grey;
}

.mobile-search-wrap{
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-text{
  height: inherit;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-size: 16px;
  padding-left: 40px;
  padding-right: 10px;
}
.footer-container{
  background-color: #021148;
  width: 100%;
  height: fit-content;
  bottom: 0;
  padding-top: 20px;
  color: #FFFFFF;
  z-index: -1;
}
.footer-wrap{
  display: flex;
  width: 96%;
  padding-left: 2%;
  padding-right: 2%;
}
.footer-logo{
  width: 25%;
}
.footer-logo img{
  width: 70%;
}
.quick-links{
  width: 25%;
  height: 400px;
}
.tutors{
  width: 25%;
}
.contact{
  width: 25%;
}
.contact-header{
  font-family: Inter-regular;
  font-size: 22px;
  font-weight: 600;
  cursor: default;
}
.contact-items{
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
}
.item-icon{
  display: flex;
  width: fit-content;
  font-size: 18px;
}
.item-1{
font-family: Inter-regular;
font-size: 18px;
margin-left: 8px;
}

.about-item{
  font-family: Inter-regular;
  font-size: 18px;
  }
.socials-wrap{
  height: 50px;
  margin-top: 50px;
  display: flex;
}
.social-icon{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-right: 20px;
  cursor: pointer;
}
.copyright{
  font-family: Inter-regular;
  font-size: 16px;
}
.intro-container{
  border: 2px solid red;
  margin-top: 100px;
  height: 500px;
  width: 100%;
  z-index: -2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hide{
  visibility: hidden;
}
.intro-wrap{
  font-family: Inter-regular;
  font-weight: 600;
  font-size: 40px;
  width: 70%;
  text-align: center;
  line-height: 60px;
  cursor: default;
}
.course-container{
  height: fit-content;
  padding-top: 50px;
  padding-bottom: 50px;
}
.course-title{
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
}
.course-title::-webkit-scrollbar{
  display: none;
}
.course-title{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.course-wrap{
  background-color: #eaecf5;
  min-width: 150px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  font-family: Inter-regular;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.course{
  width: fit-content;
}
.course-name{
  width: fit-content;
  font-weight: 700;
  font-size: 18px;
}
.learners{
  width: fit-content;
  font-weight: 500;
  margin-top: 10px;
  font-size: 16px;
}
.course-list{
  position: relative;
}
.nav-left{
  position: absolute;
  left: 20px;
  font-size: 24px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1;
  background-color: #FFFFFF;
  box-shadow: 10px 10px 10px #ededed;
  cursor: pointer;
}

.nav-right{
  position: absolute;
  right: 20px;
  font-size: 24px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1;
  background-color: #FFFFFF;
  box-shadow: 10px 10px 10px #ededed;
  cursor: pointer;
}
.list-wrap{
}
.course-li{
}
.show-courses-wrap{
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}
.show-courses{
  border: 1px solid #021148;
  height: inherit;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  font-family: Inter-regular;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;

}
.show-courses:hover{
  background-color: #ededed;
}
.login-form-wrap{
  margin-top: 100px;
  height: fit-content;
  display: flex;
  justify-content: center;
  height: fit-content;

}
.login-form{
  width: 450px;
background-color: #FFFFFF;
  padding-bottom: 50px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 10px 10px 10px #ededed;
}
.form-input{
  height: 50px;
  width: 350px;
  margin-top: 30px;
  position: relative;
  display: flex;
  align-items: center;
}
.select-input-wrap{
  height: 80px;
  margin-top: 30px;
  position: relative;
  align-items: center;
  width: 350px;
  font-family: Inter-regular;
}
.select-label{
  height: 30px;
  font-weight: 600;
  font-size: 16px;
}
.select-input{
  width: inherit;
  height: 50px;
  font-size: 18px;
  outline: none;
  border: 2px solid #021148;
  padding-left: 10px;
  border-radius: 10px;
}
.login-icon{
  width: 18px;
  position: absolute;
  height: 18px;
  font-size: 20px;
  display: flex;
  align-items: center;
  left: 5px;
  color: #021148;
}

.login-icon-pass{
  width: 18px;
  position: absolute;
  height: 18px;
  font-size: 20px;
  display: flex;
  align-items: center;
  right: 10px;
  color: #021148;
}
.form-input input{
  height: inherit;
  border-radius: 5px;
  font-size: 18px;
  font-family: Inter-regular;
  padding-left: 30px;
  border: 2px solid #021148;
}
.submit-btn-wrap{
  height: 50px;
  margin-top: 20px;
}
.submit-btn{
  font-size: 18px;
  font-family: Inter-regular;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  width: 350px;
  border-radius: 10px;
  background-color: #021148;
  cursor: pointer;
  color: #FFFFFF;
}
.f-pass{
  height: 40px;
  font-size: 18px;
  font-family: Inter-regular;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.f-pass:hover{
  text-decoration: underline;
}
.social-login{
  height: 50px;
  margin-top: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  border-radius: 10px;
  border: 2px solid #021148;
  cursor: pointer;
}

.social-login:hover{
  background-color: #677091;
  color: #FFFFFF;
}
.gmail{
  height: fit-content;
  width: fit-content;
  font-family: Inter-regular;
  font-size: 18px;
  margin-left: 10px;
  font-weight: 600;
}
.gmail-icon{
  width: 20px;
  height: 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tutor{
  width: inherit;
}
.student-container{
  width: 100%;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  margin-top: 120px;
}
.student-wrap{
  border-radius: 20px;
  background-color: #FFFFFF;
  width: 420px;
  padding-bottom: 50px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 10px #ededed;
}
.desc-wrap{
  width: inherit;
  margin-top: 30px;
  font-family: Inter-regular;
}
.desc{
  border: 2px solid green;
  resize: none;
  width: inherit;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: 2px solid #021148;
  font-size: 18px;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 10px;
  height: 200px
}
.form-file-input{
  font-family: Inter-regular;
  font-size: 18px;
  margin-top: 20px;
  font-weight: 600;
}
.file-input{
  height: 50px;
  width: inherit;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-family: Inter-regular;
  font-size: 16px;
  font-weight: 500;
}
input[type="file"]::-webkit-file-upload-button{
  color: #FFFFFF;
  background-color: #021148;
  width: 200px;
  cursor: pointer;
  height: 50px;
}
.account-wrap{
  height: 50px;
  width: 200px;
  display: flex;
}
.acc-icon{
  width: 50px;
  height: inherit;
  font-size: 30px;
  color: #021148;
  display: flex;
  align-items: center;
  justify-content: center;
}
.acc-name{
  width: 150px;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: start;
}
.student-nav-container{
  height: 100px;
}

.s-dash-container{
  margin-top: 100px;
  position: relative;
  height: fit-content;
  width: 100%;
  height: 600px;
}

.courses-card{
  font-family: Inter-regular;
  width: 450px;
  margin-top: 20px;
  margin-left: 150px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: #f1f4fc;
}
.dash-1{
  display: flex;
  height: fit-content;
}
.card-wrap{
  width: 90%;
  height: 250px;
}
.card-title{
  font-weight: 600;
  font-size: 18px;
  height: 30px;
  width: 100%;
  display: flex;
}
.card-desc{
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: #FFFFFF;
  margin-top: 20px;
}
.desc-name-wrap{
  position: relative;
  display: flex;
  height: 50px;
  align-items: center;
  width: 92%;
}
.desc-name{
  font-weight: 600;
  height: fit-content;
}
.tutor-name{
  font-weight: 500;
}
.desc-icon{
  height: fit-content;
  font-weight: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
}
.progress-icon{
  height: 20px;
  width: 92%;
}
.progress{
  height: 20px;
  width: 92%;
  font-size: 16px;
}
progress{
  width: 100%;
}
progress::-webkit-progress-value{
  background-color: red;
}
progress::-webkit-progress-bar{
  background-color: red;
}



.course-btns{
  display: flex;
  height: 50px;
  font-size: 14px;
  align-items: center;
  width: 92%;
}
.c-btn-1{
  background-color: #021148;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  color: #FFFFFF;
  margin-right: 10px;
  border-radius: 8px;
  cursor: pointer;
}
.c-btn-2{
  background-color: #677091;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  color: #FFFFFF;
  margin-right: 10px;
  border-radius: 8px;
  cursor: pointer;
}
.c-btn-3{
  background-color: #677091;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  color: #FFFFFF;
  margin-right: 10px;
  border-radius: 8px;
  cursor: pointer;
}
.notification-wrap{
  border: 1px solid #677091;
  width: 450px;
  height: 280px;
  margin-top: 20px;
  border-radius: 12px;
  font-family: Inter-regular;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 100px;
  cursor: pointer;
}

.notify-title{
  font-weight: 600;
  font-size: 18px;
  width: 90%;
  height: 50px;
  display: flex;
  align-items: center;
}
.n-item-wrap{
  display: flex;
  position: relative;
  height: 50px;
  width: 90%;
  align-items: center;
  margin-bottom: 15px;
}
.n-item{
  font-size: 18px;
  width: fit-content;
  font-weight: 600;
}
.n-sub{
  font-size: 16px;
  font-weight: 500;
}
.n-item-btn{
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  position: absolute;
  right: 0;
}
.n-item-btn-up{
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  position: absolute;
  right: 0;
}
.session-wrap{
  border: 2px solid red;
}


@media screen and (max-width: 1020px) and (min-width:50px){
  .sign-in{
    display: none;

  }
  .account-wrap{
display: none;
  }
  .nav-buttons{
    width: 80%;
  }
  .logo-wrap{
    width: 20%;
  }

  .sign-up{
    display: none;
  }
  .mobile-nav{
    display: flex;
    position: absolute;
    right: 0;
  }

  .nav-menu{
    display: none;
  }
  .logo-wrap img{
    width: 150px;
    height: 40px;
  }
  .m-nav-container{
    display: block;
  }
  .footer-wrap{
    display: block;
  }

  .footer-logo{
    width: 100%;
  }
  .footer-logo img{
    width: 100%;
  }
  .quick-links{
    width: 100%;
    height: 400px;
  }
  .services{
    width: 100%;
  }
  .contact{
    width: 100%;
  }
  .quick-links{
    margin-top: 50px;
  }
  .tutors{
    margin-top: -250px;
  }
  .contact{
    margin-top: 50px;
  }
}